.ui-wrap {
    position: absolute;
    z-index: 999;
}
.tip-btn {
    display: none;
    background: #00000090;
    padding: 10px;
    color: white;
    border-radius: 8px;
    text-align: center;
    width: 80px;
    margin: 20px;
}
.tip {
    display: block;
    text-align: center;
    width: 400px;
    background: #00000090;
    color: white;
    padding: 10px;
    border-radius: 8px;
}